{% extends "base.html" %}
{% load static %}

{% block title %}Редактирование задачи{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static "Main/css/style2 .css" %}">
{% endblock style %}

{% block content %}

<div class="create-wrapper">

    <div class="create-card card">
        <h2>Рендактирование</h2>

        <form method="POST" class="create-form">
            {% csrf_token %}

            {{ form }}
            <input type="hidden" name="id" value="{{ task.id }}">
            <input type="submit" value="Рендактировать" class="btn">
        </form>
    </div>

</div>

{% endblock content %}

{% block scripts %}
<script src="{% static "Main/js/script2.js" %}"></script>
{% endblock scripts %}